{% extends 'base.html.twig' %}

{% block title %}Filière{% endblock %}

{% block body %}
    <h1>Filière</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ filiere.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ filiere.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ filiere.slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ filiere.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_filiere_index') }}">Retour à la liste</a>

    <a href="{{ path('app_filiere_edit', {'id': filiere.id}) }}">Editer</a>

    {{ include('filiere/_delete_form.html.twig') }}
{% endblock %}
